body{
    background-image: url('/static/images/img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    border:2px solid black;
    height:55%;
    width:500px;
    background-color:ghostwhite;
    padding:6px;
    margin-left:450px;
    margin-top:170px;
    z-index:1;
}
input{
    height:30px;
    width:400px;
}
button{
    margin-left:280px;
}
h2{
    color:crimson;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:15px;
}