body{
    background-image: url('/static/images/img2.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    height:100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

form{
    border:2px solid black;
    max-height:400px;
    background-color:ghostwhite;
    padding:12px;
    margin-left:450px;
    margin-top:170px;
    z-index:1;
}
.cn{
    height:1000px;
}
input[type=text],input[type=password]{
    width:80%;
    padding: 12px 20px;
    margin: 10px 0 10px 6px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#bt{
    margin-left:40%;
}
h2{
    color:crimson;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:15px;
}