ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e7f683;
    width:100%;
    height:10%;
    margin-bottom:5px;
  }
  .cl{
    float: left;
    padding: 10px;
    margin-left:60px;
    margin-top:70px;
    text-rendering: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(218, 231, 96);
    width:50%;
    color:rgb(158, 82, 229);
    height:65%;
  }
  img{
    width:400px;
    height:550px;
    animation: mymove 5s infinite;
  }
  .cr{
    float: right;
    padding:4px;
    margin-top:60px;
    text-rendering: auto;
    width:55%;
    height:65%;
    margin-right:10px;
  }
  p{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color:blueviolet;
  }
  li {
    float:right;
  }
  
  li a {
    display: block;
    color: rgb(34, 122, 203);
    text-align: center;
    padding:9px;
    font-weight:300;
    text-decoration:none;
    font-size:21px;
    font-family: Arial, Helvetica, sans-serif;
  }
  body{
    height:100%;
    text-align: center;
    color: aliceblue;
    background-image: url('/static/images/bg1.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}
  li a:hover {
    background-color: #94e3e1;
    text-decoration: none;
    font-weight:500;
    display: block;
    font-size:19px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(194, 18, 141);
  }
  
  @media only screen and (max-width: 300px) {
    .prev,.next,.text {font-size: 11px}
    .cl{
      width:100%;
      height:100%;
      margin:0;
    }
    .cr{
      width:100%;
      height:100%;
      margin:0;
    }
    img{
      width:100%;
      height:100%;
    }
  }
  @media (max-width: 600px) {
    .cl{
      width:100%;
      height:100%;
      margin:0;
    }
    .cr{
      width:100%;
      height:100%;
      margin:0;
    }
    img{
      width:100%;
      height:100%;
    }
  }