body{
   background-color: blueviolet;
}
h1{
   color: white;
   font-size: 50px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin: 0% 0% 0% 2%;
}
p{
    color:black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0% 0% 0% 2%;
}