body{
   background-color: blueviolet;
}
img{
    margin:5px;
    height:300px;
    width:100px;
}
#c1{
    margin-top:20px;
    margin-left: 5px;
    float:left;
    width:50%;
    height:600px;
}
#c2{
    margin-top:20px;
    margin-right:5px;
    float:right;
    width:50%;
    height:600px;
}