<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="icon" href="/static/images/ic2.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/abt.css">
</head>
<body>
    <h1 class="text-center mt-2">About Us</h1>
    <div class="container-fluid mt-6">
        <div class="col-lg-4 col-md-4 col-sm-10  mt-9 ml-40 p-5 cl">
            <p>Phone Book is a web application designed for the usage of a mobile phone user to operate with their contacts.
                It is a simple application which can be used to store, edit, delete and view contacts.
                And it is a very easy to use application.
                It is a very useful application for the users who are using mobile phones.
                It is designed based on the requirements of the users.
            </p>
            <p><u>Technology Stack:</u>
                <ul>
                    <li>Frontend: HTML, CSS, Bootstrap, JavaScript</li>
                    <li>Backend: Python, Flask</li>
                    <li>Database:SQL</li>
                </ul>
            </p>
        </div>
        <div class="col-lg-8 col-md-6  col-sm-12 cr m-4">
            <img src="../static/images/ph.jpeg" alt="phone_gif_file" class="mx-auto">
        </div>
    </div>
</body>
</html>