<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="icon" href="/static/images/ic1.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>    
    <link rel="stylesheet" href="../static/ind.css">
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-expand-sm navbar-expand-md navbar-expand-lg h-30 w-100 bg-dark"> 
        <img src="/static/images/ic2.png" class="nav-item" alt="phone_book_icon" style="height:55px; width:55px; top:5px; margin-left:32px;float: left; margin-right:40px;">
        <button class="navbar-toggler bg-warning text-danger" title="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar navbar-fixed-top navbar-expand-sm navbar-expand-md">
            <li class="nav-item"><a class="nav-link" href="{{url_for('create')}}">Save Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('view')}}">View Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('get')}}">Get ContactList</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('edit')}}">Edit Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('delete')}}">Delete Contact</a></li> 
            <li class="nav-item"><a class="nav-link" href="{{url_for('meet')}}">Meet My Team</a></li> 
            <li class="nav-item"><a class="nav-link" href="{{url_for('feed')}}">Feedback</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('about')}}">About Us</a></li>
            <button class="lgtbtn" onclick="alert('Are you sure to logout?')"><li><a class="nav-link" href="{{url_for('logout')}}">Logout</a></li></button>
        </ul>
        </div>
    </nav>
    <div class="container-fluid mt-6">
        <div class="col-lg-4 col-md-4 col-sm-10  mt-9 ml-40 p-5 cl">
            <p>Hello!Tired with storing your contacts in a notebook or a old contacts system of your mobile.Don't worry!We are here to help you.And this is the perfect application to use.</p>
        </div>
        <div class="col-lg-8 col-md-6  col-sm-12 cr">
            <img src="../static/images/g1.gif" alt="phone_gif_file">
        </div>
    </div>
</body>
</html>