<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="/static/images/ic2.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Contacts Page</title>
    <style>
      body{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-image:url("../static/images/bg2.jpg");
        background-size:cover;
        background-repeat: no-repeat;
      }
        h4{
          font-weight:800;
        }
        #myInput{
          border:2px solid blue;
        }
        th{
          font-weight:850;
          font-size:20px;
        }
    </style>
</head>
<body>
    <h4 class="text-center text-primary">Your Contacts Are:</h4>
    <input class="form-control col-lg-6 col-md-7 col-sm-3 mx-auto mt-3 mb-4 text-center text-secondary" id="myInput" type="text" placeholder="Search Here For Contact..">
    <table class="table table-hover table-bordered text-wrap table-responsive-sm text-black" style="border-color:black;">
        <thead class="bg-warning">
            <tr>
                <th>ID</th>
                <th scope="col" class="lg-1 text-center">Name</th>
                <th scope="col" class="lg-1 text-center">Phone1</th>
                <th scope="col" class="lg-1 text-center">Phone2</th>
                <th scope="col" class="lg-1 text-center">Email</th>
                <th scope="col" class="lg-1 text-center">Address</th>
                <th scope="col" class="lg-1 text-center">Relationship</th>
                <th scope="col" class="lg-1 text-center">Actions</th>
            </tr>
        </thead>
        <tbody class="table" id="myTable">
        {% for row in my_cnt %}
                <tr>
                <td class="lg-1 text-center">{{ row[0] }}</td>
                <td class="lg-1 text-center">{{ row[1] }}</td>
                <td class="lg-1 text-center">{{ row[2] }}</td>
                <td class="lg-1 text-center">{{ row[3] }}</td>
                <td class="lg-1 text-center">{{ row[4] }}</td>
                <td class="lg-1 text-center">{{ row[5] }}</td>
                <td class="lg-1 text-center">{{ row[6] }}</td>
                <td class="lg-1 text-center">
                <a href="/update/{{ row[0] }}" onclick="return confirm('Are Sure Want To Updated ?')"class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil">Edit</span></a>
                <a href="/delete/{{ row[0] }}" onclick="return confirm('Are Sure Want To Deleted ?')" class="btn btn-danger btn-sm">Delete<span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        {% endfor %}
        <script>
            $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
        </script>
</body>
</html>