<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response Page</title>
    <style>
        img{
            height:45%;
            width:45%;
            margin:15% 35% 30% 32%;
            
        }
        body{
            background-color: rgb(132, 187, 235);
        }
    </style>
</head>
<body>
    {% for message in get_flashed_messages() %}
     <h2 align="center" style="color:blue">{{message}}</h2>
    {% endfor %}
    <img src="/static/images/img3.jpg">
</body>
</html>