<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Add Contact Page</title>
    <link rel="icon" href="/static/images/ic1.png">
    <link rel="stylesheet" href="../static/sv.css">
</head>
<body>
    {% for message in get_flashed_messages() %}
     <h2 class="text-center text-danger">{{message}}</h2>
    {% endfor %}
    <form action="/cnt_list" class="col-lg-5 col-md-4 col-sm-10 mx-auto" method="post">
        Name:<input  class="text-center" type="text" name="uname" maxlength="30"  placeholder="Enter name here" required><br>
        Nick Name:<input class="text-center" type="text" name="nickname" maxlength="30"  placeholder="Enter nick name here" required><br>
        Phone Number1:<input class="text-center"  type="tel" name="phn1" maxlength="13"placeholder="Enter phone number1" required><br>
        Phone Number2:<input class="text-center"  type="tel" name="phn2" maxlength="13"  placeholder="Enter phone number2" ><br>
        Email:<input class="text-center col-lg-7 col-md-8 col-sm-2"  type="email" name="eml" maxlength="50" placeholder="Enter email here"  required><br>
        Address:<input class="text-center"  type="text" name="addr" maxlength="120"  placeholder="Enter address here" required><br>
        Relationship:<input class="text-center "  type="text" name="rel" maxlength="15" placeholder="Enter relationship here" required><br>
            <button type="submit" value="Save" class="btn-outline-primary btn-lg">Save</button>
    </form>
</body>
</html>