<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Contact Form</title>
    <link rel="stylesheet" href="../static/sv.css">
</head>
<body>
    <form action="/edit_list" method="post">
        Id:<input type="text" name="uid" maxlength="100" size="50" value="{{ ref[0] }}" readonly><br>
        Name:<input type="text" name="uname" maxlength="30" size="50" value="{{ ref[1] }}"><br>
        Phone Number1:<input type="tel" name="phn1" maxlength="10" size="47" value="{{ ref[2] }}"><br>
        Phone Number2:<input type="tel" name="phn2" maxlength="10" size="47" value="{{ ref[3] }}" ><br>
        Email:<input type="email" name="eml" size="50" value="{{ ref[4] }}"><br>
        Address:<input type="text" name="addr" maxlength="120" size="50" value="{{ ref[5] }}"><br>
        Relationship:<input type="text" name="rel" maxlength="15" size="50" value="{{ ref[6] }}"><br>
        <input type="submit" value="Save" id="btn">
    </form>
</body>
</html>