<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/getnm3.css">
    <title>Getting Required Contact Name</title>
</head>
<body>
    {% for message in get_flashed_messages() %}
    <h2 align="center"> {{message}} </h2>
    {% endfor %}
    <form action="/view_cnt" method="post">
        <p>Name:</p><input type="text" name="cname" placeholder="Enter name here.." maxlength="60" size="70" required>
        <input type="submit" value="View Contact" id="bt">
    </form>
</body>
</html>